<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>
      <main>
        <div>
          <form action="/drinks/<%= drinks._id %>?_method=PUT" method="post">

            <fieldset>
              <legend>Edit a <%= drinksData.name %>
              </legend>
              <label>
                NAME: <input type="text" name="name" value="<%= drinksData.name %>" placeholder="enter a drink name" />
              </label>
              <label>
                IMAGE: <input type="img" name="image link" value="<%= drinksData.img %>" placeholder="enter an image" />
              </label>
              <label>
                DESCRIPTION: <input type="test" name="description" value="<%=drinksData.desc %>" />
              </label>
            </fieldset>
            <input type="submit" value="Update <%= drinksData.name%>" />
          </form>

        </div>

      </main>

  </body>

</html>