<!DOCTYPE html>
<html lang="en">

<body>
  
    <h1>Form to Update <%= drink.name %>
    </h1>
  
    <form action="/drinks/<%= drink._id %>?_method=PUT" method="post">

            <fieldset>
              <legend>Edit a <%= drink.name %>
              </legend>
              <label>
                NAME: <input 
                type="text" 
                name="name" 
                value="<%= drink.name %>" 
                placeholder="enter a drink name" />
              </label>
              <label>
                TYPE <input 
                type="text" 
                name="type" 
                value="<%= drink.type %>" 
                placeholder="enter type of drink" />
              </label>
              <label>
                IMAGE: <input 
                type="img" 
                name="image link" 
                value="<%= drink.img %>" 
                placeholder="enter an image" />
              </label>
              <label>
                ABV: <input 
                type="text" 
                name="description" 
                value="<%=drink.abv %>" 
                placeholder= "enter abv"
                />
              </label>
              <label>
                DESCRIPTION: <input 
                type="text" 
                name="description" 
                value="<%=drink.desc %>" 
                placeholder= "enter description"
                />
              </label>
            </fieldset>
            <input type="submit" value="Update <%= drink.name%>" />
          </form>

        </div>

      </main>

  </body>

</html>