<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

  <body>
    <h1>NABevs</h1>
    <ul>
      <% for(let i=0; i < drinksData.length; i++){ %>
        <li>
          <a href="/drinks/<%=drinksData[i]._id%>">
            <%=drinksData[i].name; %>
              <img src="<%=drinksData[i].img %>" alt="" />
              <form action="/drinks/<%=drinksData[i]._id %>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE" />
              </form>
        </li>
        <% } %>
    </ul>
    <nav>
      <a href="/drinks/new">Add A New Drink</a>
    </nav>
  </body>


</html>