<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

  <body>
    <%- include('../partials/header.ejs') %>


      <main>
        <div>
          <a href="/drinks/new"><button>Create A Drink</button></a>
          <a href="/user/logout"><button>Logout</button></a>
          <% for (drink of drinks) { %>
            <article>
              <a href="/drinks/<%= drinks._id %>">
                <h2>
                  <%= drinks.name %> - <%= drinks.img %>
                </h2>
              </a>

            </article>

            <% } %>
        </div>
      </main>
  </body>

</html>