<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show Page</title>
  <link rel="stylesheet" href="/static/show.css">
</head>

<body>
  <h2>
    <%=drinksData.name %>
  </h2>
  <div class="drinks-container" id="drinks-container"></div>
  <div class="drinks">
    <div class="img-container"></div>
    <img src="<%=drinksData.img %>" alt="" />
    <div class="info">
      <ul>
        <div class="type" <% const type=drinksData.type %>
          <% for(let j=0; j < drinksData.length; j++){ %>
            <li>
              
            </li>
            <% } %>
      </ul>
      <p><%=drinksData.type %></p>
      <p>ABV: <%=drinksData.abv %></p>
      <p>DESCRIPTION: <%=drinksData.desc %>
      </p>
    </div>
  </div>
  <footer></footer>
</body>

</html>