<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/public/skeleton.css">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show Page</title>
</head>

<body>
  <h2>
    <%=drinksData.name %>
  </h2>
  <div class="drinks-container" id="drinks-container"></div>
  <div class="drinks">
    <div class="img-container"></div>
    <img src="<%=drinksData.img %>" alt="" />
    <div class="info">
      <ul>
        <div class="type" <% const type=drinksData.type %>
          <% for(let j=0; j < drinksData.length; j++){ %>
            <li>
              <%=drinksData.type[j] %>
            </li>
            <% } %>
      </ul>
      <p>HP: <%=drinksData.abv %>
      </p>
      <p>Attack: <%=drinksData.desc %>
      </p>
    </div>
  </div>
</body>

</html>